#include <configs/j722s_evm_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_J722S=y
CONFIG_TARGET_J722S_R5_T3_GEM_O1=y

CONFIG_DEFAULT_DEVICE_TREE="k3-am67a-r5-t3-gem-o1"
CONFIG_SPL_OF_LIST="k3-am67a-r5-t3-gem-o1"
CONFIG_OF_LIST="k3-am67a-r5-t3-gem-o1"

CONFIG_TI_I2C_BOARD_DETECT=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_MTD_SUPPORT=n

CONFIG_SPL_SIZE_LIMIT=0x48000
CONFIG_USB=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_USB_DWC3_AM62=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Texas Instruments"
CONFIG_USB_GADGET_VENDOR_NUM=0x0451
CONFIG_USB_GADGET_PRODUCT_NUM=0x6165
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_SPL_DM_USB_GADGET=y
CONFIG_SPL_USB_GADGET=y
CONFIG_SPL_USB_DWC3_GENERIC=y
CONFIG_SPL_USB_DWC3_AM62=y
CONFIG_SPL_DFU=y
CONFIG_SYS_DFU_DATA_BUF_SIZE=0x40000
CONFIG_DM_USB_GADGET=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SYSCON=y
CONFIG_SPL_SYSCON=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI_K3=y
CONFIG_SPL_MMC_SDHCI=y
CONFIG_SPL_MMC_SDHCI_K3=y
CONFIG_SYS_MMCSD_RAW_MODE_EMMC_BOOT_PARTITION=1